<!-- -*- coding: utf-8 -*-

Created on Tue Nov 23 17:19:34 2021

Project Name: Solar PV
File: Main HTML page
@author: HR SINGH
-->
{% extends 'solarpv/layout/layout.html' %}

{% block content %}
<table width = "100%" border = "0"> 
    <tr valign = "top">
        <td bgcolor = "#aaa" width = "20%">
            <b><a href="register" style="text-decoration: none;" >Register </a></b>&nbsp;
            <b><a href="login" style="text-decoration: none;">Login</a></b><br><br>
            
            <b>PV Module</b><br />
            <a href="tnc" style="text-decoration: none;">Testing & Certification</a><br />
            <a href="" style="text-decoration: none;">PV Rating</a><br /><br />
            
            <b>PV System Performance</b><br />
            <a style="text-decoration: none;">Monitoring & Inspection</a><br />
            <a style="text-decoration: none;">Performance Analysis</a><br />
            <a style="text-decoration: none;">Compare System</a><br />
            <a style="text-decoration: none;">Certification</a><br /><br />
            
            <b>Data Analytics</b><br />
            <a style="text-decoration: none;">Module lifetime prediction</a><br />
            <a style="text-decoration: none;">Energy prediction</a><br /><br />
            
            <b>Cybersecurity and Smart Grid Technologies</b><br /><br />
            
            <b>Solar PV University</b><br /><br />
            
        </td>
				
        <td bgcolor = "#b5dcb3" height = "200" width = "60%" align="center">
             <br /><br />Feature Content
        </td>
				
        <td bgcolor = "#aaa" width = "20%">
            <b><a href="" style="text-decoration: none;" >News & Events</a></b><br /><br />
            
            <a href="">Photovoltic Technical Conference to take place in Marshell, France from 26 to 28 April 2017</a><br /><br />
            
            <a href="">Trump is next US president</a><br /><br />
            
            <a href="">Syrian forces recapture Aleppo </a><br /><br />
            
            <a href="">Senate votes on SCOTUS nominee </a><br /><br />
            
        </td>
    </tr>
         
<table>

{% endblock %}
