<footer>
  <table width = "100%" border = "0"> 
      <tr valign = "top">
          <td bgcolor = "white" width = "20%">
              <br /><br />
              <b><a href="" style="text-decoration: none;" >Solar PV</a></b><br />
              
              <a href="" style="text-decoration: none;">Address</a>&nbsp;
              
              <a href="" style="text-decoration: none;">Phone</a><br />
              
              <a href="" style="text-decoration: none;">Email</a>&nbsp;
              
              <a href="" style="text-decoration: none;">Website</a>
          </td>
          
          <td bgcolor = "white" height = "200" width = "60%" align="center">
               <br/><br /><br />@ 2019 All Rights Reserved
          </td> 
          
          <td bgcolor = "white">
              <br /><br />
              <p>
                  <a href="" style="text-decoration: none;">Site Map</a>&nbsp;
                  
                  <a href="" style="text-decoration: none;">Terms & Conditions</a>&nbsp;
                  
                  <a href="" style="text-decoration: none;">Privacy Policy</a>&nbsp;
                  
                  <a href="" style="text-decoration: none;">About Us</a></p>
          </td>	
  								
      </tr>          
  <table>  
</footer>