<div class="header">
  <a href="home" style="text-decoration: none;"><h2 align="left">Solar PV</h2></a>
  <a href="home" style="text-decoration: none;"><h3 align="left">Research & Development</h3></a>
  <p align="right">
      <a href="" style="text-decoration: none;" >About Us |</a>
      <a href="" style="text-decoration: none;" >Contact Us |</a>
      <a href="" style="text-decoration: none;" >Social Media Links</a>
  </p>
</div>

<div id="navbar" align="right">
  <a class="active" href="javascript:void(0)">Racks & Trackers</a>
  <a href="tnc">PV Module</a>
  <a href="javascript:void(0)">PV Systems</a>
  <a href="javascript:void(0)">Data Analytics</a>
  <a href="javascript:void(0)">Cybersecurity</a>
</div>